<div>
  <ul nz-menu nzMode="horizontal" class="navbar">
    <!-- <li nz-menu-item>
      <i nz-icon nzType="mail"></i>
      Navigation One
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="appstore"></i>
      Navigation Two
    </li> -->

    <li nz-menu-item (click)="onLogout()" style="float:right;">
      <i nz-icon nzType="logout" ></i>
      Logout
    </li>
  </ul>
</div>
<br />
<nz-alert nzType="success" nzMessage="Success Text" *ngIf="!hidden"></nz-alert>
<div class="container">
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-card nzTitle="Departments/Agents" class="row1">
        <nz-tree [nzData]="nodes" nzBlockNode nzVirtualHeight="150px" [nzTreeTemplate]="nzTreeTemplate"></nz-tree>
        <ng-template #nzTreeTemplate let-node let-origin="origin">
          <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, menu, nodes)" >
            <i nz-icon nzType="team"></i>
            <span class="folder-name">{{node.title}}</span>
          </span>
          <span *ngIf="node.isLeaf">
            <i nz-icon nzType="check-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" *ngIf="check(node.title)"></i>
            <i nz-icon nzType="close-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#e50000'"  *ngIf="!(check(node.title))"></i>
            <span class="file-name">{{ node.title }}</span>
          </span>
        </ng-template>
      </nz-card>
      <!-- DropDown on click -->
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="showModal()">Add Agent</li>
          <li nz-menu-item>Rename this department</li>
          <li nz-menu-item>Delete this department</li>
          <li nz-menu-item>More options</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" nzTitle="Add agent" (nzOnCancel)="handleCancel()">
      <ng-container *nzModalContent>
        <app-add-agents></app-add-agents>
      </ng-container>
    </nz-modal>
    <div nz-col nzSpan="18">
      <nz-card nzTitle="Current Visitors" class="row1">
        <div style="margin-bottom: 16px;">
          <!-- <button nz-button (click)="newTab()">ADD</button> -->
          <nz-table #clientTable [nzData]="listOfData" nzSize="small" [nzScroll]="{ y: '150px' }" nzShowPagination="false">
            <thead>
              <tr>
                <th>Client Name</th>
                <th>Client Request</th>
                <th>Status</th>
                <!-- <th>Request Time</th>
                <th>Accepted Time</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clientTable.data">
                <td>{{client.name}}</td>
                <td><button #accept nz-button (click)="newTab(client.id, client.name, accept, $event)" [disabled] = "client.isAgentAssigned"
                   nzTooltipPlacement="leftTop" nz-tooltip> <!-- [nzTooltipTitle]="getAssignedAgent(client.agentName)" -->
                    {{client.isAgentAssigned ? 'Assigned' : 'Accept'}}
                </button></td>
                <td>{{getAssignedAgent(client.agentName)}}</td>
                <!-- <td>10:20am</td>
                <td>10:30am</td> -->
                <!-- <td><button nz-button>{{client.isAgentAssigned}}</button></td> -->
              </tr>
              <!-- <tr>
                <td>Naman</td>
                <td><button nz-button (click)="newTab()">ADD</button></td>
                <td><button nz-button (click)="newTab()">Reject</button></td>
              </tr> -->
            </tbody>
          </nz-table>
        </div>

      </nz-card>
    </div>
  </div>
  <br />
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-card nzTitle="Request Queue" class="row2">
        <!-- <nz-table #request [nzData]="requestQueue" nzSize="small" [nzScroll]="{ y: '150px' }" nzBordered nzShowPagination="false">
          <thead>
            <tr>
              <th>Name</th>
              <th>Dept</th>
              <th>Waiting</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of request.data">
            <td>{{item.name}}</td>
            <td>{{item.dept}}</td>
            <td>{{item.duration | date:'shortTime'}}</td>
            </tr>
          </tbody>
        </nz-table> -->
      </nz-card>
    </div>
    <div nz-col nzSpan="18">
      <nz-card nzTitle="Conversations" class="row2">
        <nz-tabset [(nzSelectedIndex)]="index" nzType="editable-card" nzHideAdd (nzClose)="closeTab($event)" >
          <nz-tab *ngFor="let tab of tabs; let i = index" [nzClosable]="i > -1" [nzTitle]="tab.name">
            <div>
             <br/>
              <div nz-row>
                <div nz-col nzSpan="16">
                  <!-- <textarea rows="4" cols="10" nz-input [(ngModel)]="inputValueTab" disabled></textarea> -->
                  <nz-card class="chat-box" [id]="tab.id">
                    <div *ngFor="let data of chatData">
                      <!-- For agent -->
                      <p *ngIf="data.user_type === 'agent' ">
                        <span [class] = "data.user_type === 'agent' ? 'agent' : 'client' " *ngIf="data.id === tab.id">
                          <span class="agent-mes">{{data.message}}</span><br>
                          <small class="time">
                            {{data.time | date: 'shortTime'}}
                          </small>
                        </span>
                      </p>
                      <!-- For client -->
                      <p *ngIf="data.user_type === 'client'">
                        <span [class] = "data.user_type === 'agent' ? 'agent' : 'client' "  *ngIf="data.id === tab.id">
                          {{data.message}}<br>
                          <small class="time">
                            {{data.time | date: 'shortTime'}}
                          </small>
                        </span>
                      </p>

                    </div>
                  </nz-card>
                </div>
                <div nz-col nzSpan="8">
                  <nz-card class="chat-box" nzTitle="Template Messages" [id]="tab.id">
                    <ul nz-menu>
                      <li nz-menu-item *ngFor="let data of defaultMessageData" (click)="chatMessage = data.message">
                        <i nz-icon nzType="delete" nzTheme="fill" (click)="deleteInitMessage(data.sno)" nzTooltipTitle="Delete"
                        nzTooltipPlacement="topRight" nz-tooltip></i>&nbsp;&nbsp;
                        {{data.message}}
                      </li>
                    </ul>
                  </nz-card>
                </div>
              </div><br/>
              <div nz-row [nzGutter]="[24, 24]">
                <div nz-col nzSpan="14"><input nz-input placeholder="write message" nzSize="default" [(ngModel)]="chatMessage" (keyup.enter)="onChatSend(tab.id)"/></div>
                <div nz-col nzSpan="2">
                  <nz-button-group>
                    <button nz-button nzType="primary" (click)="onChatSend(tab.id)" >Send</button>
                    <!-- <button nz-button nz-dropdown [nzDropdownMenu]="defaultMessages" nzPlacement="topRight">
                      <i nz-icon nzType="ellipsis"></i>
                    </button> -->
                  </nz-button-group>
                  <!-- <nz-dropdown-menu #defaultMessages="nzDropdownMenu">
                    <ul nz-menu >
                      <li nz-menu-item *ngFor="let message of defaultMessageData" (click)="chatMessage=message">
                        {{message}}
                      </li>
                    </ul>
                  </nz-dropdown-menu> -->
                </div>
                <div nz-col nzSpan="6">
                  <input nz-input placeholder="Add default message" nzSize="default" #initmessage (keyup.enter)="addInitMessage(initmessage.value)"/>
                </div>
                <div nz-col nzSpan="2">
                  <button nz-button nzType="primary" (click)="addInitMessage(initmessage)">Add</button>
                </div>
              </div>
            </div>
          </nz-tab>
        </nz-tabset>

      </nz-card>
    </div>
  </div>
</div>

