<div>
  <ul nz-menu nzMode="horizontal" class="navbar">
    <nz-avatar nzSize="large" nz-dropdown [nzDropdownMenu]="settings"
      [nzText]="currentAgent.username.charAt(0).toUpperCase()"
      style="float: right; color:#FFFFFF; background-color:#5c6bc0; margin: 5px 30px"></nz-avatar>

    <nz-dropdown-menu #settings="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <nz-card>
            <p>Username: <strong>{{currentAgent?.username}}</strong></p>
            <p>Email: <em style="color: #5f6368">{{currentAgent?.email}}</em></p>
          </nz-card>
        </li>
        <li nz-menu-item (click)="onLogout()">
          <i nz-icon nzType="logout"></i>
          <span style="color: #d93429">Logout</span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </ul>
</div>
<br />
<nz-alert nzType="success" nzMessage="Success Text" *ngIf="!hidden"></nz-alert>
<div>
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-card nzTitle="Departments/Agents" class="row1">
        <nz-tree [nzData]="nodes" nzBlockNode nzVirtualHeight="150px" [nzTreeTemplate]="nzTreeTemplate"></nz-tree>
        <ng-template #nzTreeTemplate let-node let-origin="origin">
          <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, menu, node.key)">
            <i nz-icon nzType="team"></i>
            <span class="folder-name">{{node.title}}</span>
          </span>
          <span *ngIf="node.isLeaf">
            <i nz-icon nzType="check-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"
              *ngIf="check(node.title)"></i>
            <i nz-icon nzType="close-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#e50000'"
              *ngIf="!(check(node.title))"></i>
            <span class="file-name">{{ node.title }}</span>
          </span>
        </ng-template>
      </nz-card>
      <!-- DropDown on click -->
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="showModal()">Add Agent</li>
          <li nz-menu-item (click)="showDeptModal()">Add Department</li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <!-- Add Agent Modal -->
    <nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" nzTitle="Add agent" (nzOnCancel)="handleCancel()">
      <ng-container *nzModalContent>
        <app-add-agents [selectedDepartment]="selectedDepartment" (isAgentAddedEvent)="toggleAgentModal($event)">
        </app-add-agents>
      </ng-container>
    </nz-modal>

    <!-- Add Department Modal -->
    <nz-modal [(nzVisible)]="isDeptVisible" [nzFooter]="null" nzTitle="Add Department"
      (nzOnCancel)="handleDeptCancel()">
      <ng-container *nzModalContent>
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="dept">Department</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input type="text" placeholder="Department" id="dept" #dept>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzSpan]="6" style="margin: auto;">
              <button type="button" nz-button nzType="primary" nzBlock (click)="DeptSubmit(dept.value)">Add</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </ng-container>
    </nz-modal>

    <div nz-col nzSpan="18">
      <nz-card nzTitle="Current Visitors" class="row1">
        <div style="margin-bottom: 16px;">
          <nz-table #clientTable [nzData]="listOfData" nzSize="small" [nzScroll]="{ y: '1000px' }"
            nzShowPagination="false">
            <thead>
              <tr>
                <th>Client Name</th>
                <th>Client Request</th>
                <th>Department</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clientTable.data">
                <td>{{client.name}}</td>
                <td><button #accept nz-button (click)="newTab(client.id, client.name, client.email, accept, $event)"
                    [disabled]="client.isAgentAssigned" nzTooltipPlacement="leftTop" nz-tooltip>
                    {{client.isAgentAssigned ? 'Assigned' : 'Accept'}}
                  </button></td>
                <td>{{getClientDepartment(client.dept)}}</td>
                <td>{{getAssignedAgent(client.agentName)}}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>

      </nz-card>
    </div>
  </div>
  <br />
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-card nzTitle="Request Queue" class="row2">
        <!-- <nz-table #request [nzData]="requestQueue" nzSize="small" [nzScroll]="{ y: '150px' }" nzBordered nzShowPagination="false">
          <thead>
            <tr>
              <th>Name</th>
              <th>Dept</th>
              <th>Waiting</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of request.data">
            <td>{{item.name}}</td>
            <td>{{item.dept}}</td>
            <td>{{item.duration | date:'shortTime'}}</td>
            </tr>
          </tbody>
        </nz-table> -->
      </nz-card>
    </div>
    <div nz-col nzSpan="18">
      <nz-card nzTitle="Conversations" class="row2">
        <nz-tabset [(nzSelectedIndex)]="index" nzType="editable-card" nzHideAdd (nzClose)="closeTab($event)">
          <nz-tab *ngFor="let tab of tabs; let i = index" [nzClosable]="i > -1" [nzTitle]="tab.name">
            <div>
              <br />
              <div nz-row>
                <div nz-col nzSpan="16">
                  <div class="ant-card ant-card-bordered chat-box" [id]="tab.id" #scrollToBottom
                    [scrollTop]="scrollToBottom.scrollHeight">
                    <div *ngFor="let data of chatData">
                      <!-- For agent -->
                      <p *ngIf="data.user_type === 'agent' ">
                        <span class="agent" *ngIf="data.id === tab.id">
                          <span class="agent-mes">{{data.message}}</span><br>
                          <small class="time">
                            {{data.time | date: 'shortTime'}}
                          </small>
                        </span>
                      </p>
                      <!-- For client -->
                      <p *ngIf="data.user_type === 'client'">
                        <span class="client" *ngIf="data.id === tab.id">
                          {{data.message}}<br>
                          <small class="time">
                            {{data.time | date: 'shortTime'}}
                          </small>
                        </span>
                      </p>
                      <!-- Typing Indicator -->
                      <div class="typing-box" *ngIf="data.user_type === 'clientTyping' && data.id == tab.id">
                        <div class="typing-indicator">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-col nzSpan="8">
                  <nz-card class="chat-box" nzTitle="Template Messages" [id]="tab.id">
                    <ul nz-menu>
                      <li nz-menu-item *ngFor="let data of defaultMessageData" (click)="chatMessage = data.message">
                        <i nz-icon nzType="delete" nzTheme="fill" (click)="deleteInitMessage(data.sno)"
                          nzTooltipTitle="Delete" nzTooltipPlacement="topRight" nz-tooltip></i>&nbsp;&nbsp;
                        {{data.message}}
                      </li>
                    </ul>
                  </nz-card>
                </div>
              </div><br />
              <div nz-row [nzGutter]="[24, 24]">
                <div nz-col nzSpan="14"><input nz-input placeholder="write message" nzSize="default"
                    [(ngModel)]="chatMessage" (keypress)="onAgentTyping(tab.id)" (keyup.enter)="onChatSend(tab.id)" />
                </div>
                <div nz-col nzSpan="2">
                  <nz-button-group>
                    <button nz-button nzType="primary" (click)="onChatSend(tab.id)">Send</button>
                  </nz-button-group>
                </div>
                <div nz-col nzSpan="6">
                  <input nz-input placeholder="Add default message" nzSize="default" #initmessage
                    (keyup.enter)="addInitMessage(initmessage.value)" />
                </div>
                <div nz-col nzSpan="2">
                  <button nz-button nzType="primary" (click)="addInitMessage(initmessage)">Add</button>
                </div>
              </div>
            </div>
          </nz-tab>
        </nz-tabset>

      </nz-card>
    </div>
  </div>
</div>
