.row1 {
  min-height: 50vh;
  max-height: 50vh;
  overflow: hidden;
  // resize: both;
}
.row2 {
  min-height: 60vh;
}
.navbar {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.chat-box {
  height: 150px;
  max-height: 150px;
  overflow: auto;
}
.agent {
  width: 55%;
  background: #40a9ff;
  margin-bottom: 5px;
  color: #fff;
  float: right;
  clear: both;
  text-align: right;
  overflow-wrap: break-word;
  border: 1px solid #40a9ff;
  border-radius: 3px;
  padding: 5px;
  font-size : 15px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.agent-mes{
  float: left;
  margin : 0 5px 0;
}

.client {
  width: 55%;
  background: #eee;
  color: #111;
  float: left;
  clear: both;
  overflow-wrap: break-word;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 5px;
  font-size : 15px;
  padding-left: 10px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}
.time {
  font-size: 70%;
  float: right;
  clear: both;
}
.file-name,
.folder-name {
  margin-left: 4px;
}
