.chatBtn {
  bottom       : 0;
  position     : fixed;
  margin       : 1em;
  right        : 0;
  z-index      : 998;
  display      : block;
  width        : 4em;
  height       : 4em;
  border-radius: 50%;
  border       : none;
  text-align   : center;
  color        : #f0f0f0;
  z-index      : 998;
  overflow     : hidden;
  background   : #42a5f5;
}

@media screen {}

.head {
  margin       : 0% 4%;
  border-bottom: 2px solid #1a1a1b;
}

.chatPopup {
  display : none;
  width   : 25%;
  position: fixed;
  bottom  : 4.2em;
  right   : 4.2em;
  border  : 3px solid #f1f1f1;
  z-index : 9;
  height  : 65%;
}

#closeChat {
  display: none;
}

#openChat {
  display: block;
}

body {
  height: 100%;
  font  : 16px/1.2 "Roboto", sans-serif;
  color : #333;
}

input[type="text"],
button {
  border : 0;
  outline: 0;
}

button {
  background-color: transparent;
  cursor          : pointer;
}

button:hover i {
  color    : #79c7c5;
  transform: scale(1.2);
}

/* chat_box */
.chat_box {
  display       : flex;
  flex-direction: column;
  height        : 100%;
}

.chat_box>* {
  padding: 16px 0;
}

/* body */
.body {
  display         : none;
  flex-grow       : 1;
  background-color: #eee;
  overflow-y      : scroll;
  padding         : 0% 3%;
}

.body .bubble {
  display      : inline-block;
  padding      : 0 3%;
  border-radius: 25px;
}

.body .bubble p {
  color     : #f9fbff;
  font-size : 14px;
  text-align: left;
}

.body .incoming {
  text-align: left;
}

.body .incoming .bubble {
  background-color: #b2b2b2;
  overflow-wrap   : break-word;
  max-width       : 40%;
}

.body .outgoing {
  text-align: right;
}

.body .outgoing .bubble {
  background-color: #42a5f5;
  overflow-wrap   : break-word;
  max-width       : 40%;
}

/* foot */
.foot {
  display: none;
  height : 4%;
}

.foot .msg {
  flex-grow       : 1;
  background-color: white;
}

#btn_sendMessage {
  font-size: large;
  color    : #1a1a1b;
  padding  : 0% 3%;
}

#btn_Attachment {
  color    : #1a1a1b;
  font-size: large;
  padding  : 0 3%;
}

#name {
  width        : 100%;
  padding      : 8px;
  border       : 1px solid #ccc;
  border-radius: 4px;
  box-sizing   : border-box;
  margin-top   : 6px;
  margin-bottom: 19px;
  resize       : vertical;
}

#mail {
  width        : 100%;
  padding      : 8px;
  border       : 1px solid #ccc;
  border-radius: 4px;
  box-sizing   : border-box;
  margin-top   : 6px;
  margin-bottom: 19px;
  resize       : vertical;
}

#chatMsg {
  border: none;
}

.info {
  margin: 2% 4%;
}

input[type="Email"],
select,
textarea {
  width        : 100%;
  padding      : 8px;
  border       : 1px solid #ccc;
  border-radius: 4px;
  box-sizing   : border-box;
  margin-top   : 6px;
  margin-bottom: 16px;
  resize       : vertical;
}

button[type="submit"] {
  width              : 60%;
  display            : inline-block;
  font-weight        : 400;
  text-align         : center;
  white-space        : nowrap;
  vertical-align     : middle;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
  border             : 1px solid transparent;
  padding            : 0.375rem 0.75rem;
  font-size          : 1rem;
  line-height        : 1.5;
  border-radius      : 0.25rem;
  transition         : color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color           : #fff;
  background-color: #545b62;
  border-color    : #4e555b;
}

button[type="submit"]:hover {
  background-color: #1a1a1b;
  color           : white;
}

.time_date {
  color         : #747474;
  display       : block;
  font-size     : 12px;
  margin        : 3px 0 0;
  padding-bottom: 5%;
}

img {
  height: 30%;
  width : 50%;
  float : right;
  clear : both;
}

.submitSection {
  display        : flex;
  justify-content: center;
  align-items    : center;
}