<div class="container">
  <nz-tabset [nzSize]="'large'" [nzSelectedIndex]="currentIndex">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name" [nzDisabled]="tab.disabled">
      <ng-container [ngSwitch]="tab.component">
        <ng-container *ngSwitchCase="'database-cred'" [ngTemplateOutlet]="dbCredentials"></ng-container>
        <ng-container *ngSwitchCase="'admin-cred'" [ngTemplateOutlet]="adminCredentials"></ng-container>
          <!-- <p>Admin card</p> -->

      </ng-container>
    </nz-tab>
  </nz-tabset>
</div>
<!-- PostGres Form-->
<ng-template #dbCredentials>
  <form nz-form [formGroup]="dbCredForm">
     <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="postuser">PGUSER</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is the required field">
        <input nz-input formControlName="postuser" id="postuser" />
      </nz-form-control>
    </nz-form-item>
      <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">PGPASSWORD</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is the required field">
        <input nz-input type="password" formControlName="password" id="password" />
      </nz-form-control>
    </nz-form-item>
      <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="pghost">PGHOST</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is the required field">
        <input nz-input formControlName="pghost" id="pghost" />
      </nz-form-control>
    </nz-form-item>
      <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="pgdatabse">PGDATABASE</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is the required field">
        <input nz-input formControlName="pgdatabase" id="pgdatabase" />
        </nz-form-control>
      </nz-form-item>
        <nz-form-item>

        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="pgport">PGPORT</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is the required field">
        <input nz-input formControlName="pgport" id="pgport" />
      </nz-form-control>

    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="2" style="margin: auto;">
        <button type="button" nz-button nzType="primary" nzBlock (click)="dbCredSubmit()">Next</button>
      </nz-form-control>
    </nz-form-item>
    </form>
</ng-template>

<ng-template #adminCredentials>
  <form nz-form [formGroup]="adminCredForm" class="login-form" >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="username">Username</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <nz-input-group nzPrefixIcon="mail">
        <input type="email" nz-input formControlName="email" placeholder="E-mail" id="email" />
      </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Password">Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="4" style="margin: auto;">
        <button type="button" nz-button nzType="primary" nzBlock (click)="adminCredSubmit()">Submit</button>
      </nz-form-control>
    </nz-form-item>
    </form>
</ng-template>
