/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F0F2F5;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.typing-indicator {
  $ti-color-bg: #E6E7ED;
  background-color: $ti-color-bg;
  will-change: transform;
  height: 26px;
  width: 40px;
  border-radius: 2px 13px 13px 13px;
  // padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  // margin: 0;
  bottom: 0;
  position: relative;
  animation: 2s bulge infinite ease-out;
  justify-content: center;
  align-items: center;
  span {
    height: 6px;
    width: 6px;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
