<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzSelected="true">
        <i nz-icon nzType="file"></i>
        <span>Embedded Link</span>
      </li>
      <li nz-menu-item [routerLink]="'/agent'">
        <i nz-icon nzType="user"></i>
        <span>Agent Dashboard</span>
      </li>
      <li nz-menu-item (click)="onLogout()">
        <i nz-icon nzType="logout"></i>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <h1 style="text-align: center;">Admin</h1>
    </nz-header>
    <nz-content>
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <br />
      <div class="inner-content">
        <nz-input-group class="size-medium">
          <textarea nz-input placeholder="Embed link" nzAutosize [(ngModel)]="embeddedLink" readonly></textarea>
        </nz-input-group><br />
        <h3> <strong>Note:</strong> It is recommended to place script inside body. </h3>
        <button nz-button [cdkCopyToClipboard]="embeddedLink"> Copy To ClipBoard </button>&nbsp;&nbsp;
        <button nz-button nzType="primary" nzShape="circle" nzSize="small" nzTooltipTitle="Recommended: Place script inside body."
          nzTooltipPlacement="rightTop" nz-tooltip><i nz-icon nzType="info"></i></button>
      </div>
    </nz-content>
    <nz-footer>ARI Simulation ©2021.</nz-footer>
  </nz-layout>
</nz-layout>
