<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzSelected="true">
        <i nz-icon nzType="file"></i>
        <span>Embedded Link</span>
      </li>
      <li nz-menu-item [routerLink]="'/agent'">
        <i nz-icon nzType="user"></i>
        <span>Agent Dashboard</span>
      </li>
      <li nz-menu-item (click)="onLogout()">
        <i nz-icon nzType="logout"></i>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <h1 style="text-align: center;">Admin</h1>
    </nz-header>
    <nz-content>
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <br />
      <div class="inner-content">
        <nz-input-group class="size-medium" nzAddOnBefore="Http://">
          <input type="text" nz-input [(ngModel)]="embeddedLink" size="50"/>
        </nz-input-group>
      </div>
    </nz-content>
    <nz-footer>ARI Simulation ©2021.</nz-footer>
  </nz-layout>
</nz-layout>
